<!doctype html>


<html>
    <head>
        <title>Информация</title>
    </head>
    <body>
        <center>
            <p>Модель: градиентный бустинг </p>
            <p>Количество деревьев : {{num_trees}}</p>
            <p>Размерность признакового подпространства : {{dim_trees}}</p>
            <p>Максимальная глубина дерева : {{dep_trees}}</p>
            <p>Learning rate : {{lr}}</p>
            <form method="post" enctype="multipart/form-data">
                <p><input type="submit" value="Обучить" />
            </form>
        </center>
        

    </body>
</html>