<!doctype html>


<html>
    <head>
        <title>Итоги</title>
    </head>
    <body>
        <center>
            <p>Модель: случайный лес </p>
            <p>Количество деревьев : {{num_trees}}</p>
            <p>Размерность признакового подпространства : {{dim_trees}}</p>
            <p>Максимальная глубина дерева : {{dep_trees}}</p>
            <p>Лосс на валидационной выборке : {{loss_val}}</p>
            <p>Лосс на тестовой выборке : {{loss_test}}</p>
            <form method="post" enctype="multipart/form-data">
                <p><input type="submit" value="На главную" />
            </form>
            
        </center>
        

    </body>
</html>